<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ subject }}</title>
    <!-- Dinamički naslov -->
  </head>

  <body>
    <div style="text-align: center; width: 100%">
      <img
        src="https://snus-s3.s3.eu-north-1.amazonaws.com/email_images/snuswe-bg-blue.png"
        alt="SnusWe"
        style="max-width: 100%; display: block; margin: 0 auto"
      />
    </div>

    <div style="padding: 16px 0">
      <div style="width: 100%">
        <div style="text-align: center">
          <img
            src="https://snus-s3.s3.eu-north-1.amazonaws.com/email_images/press-button.png"
          />
          <h2 style="text-transform: uppercase; font-weight: 200">
            {{ title }}
            <!-- Dinamički naslov iz JSON prevoda -->
          </h2>
          <p>
            {{ body }}
            <!-- Glavni tekst iz JSON prevoda -->
          </p>
          <a
            href="https://www.snuswe.com/"
            style="
              display: inline-block;
              background-color: #000000;
              color: #ffffff;
              padding: 14px 30px;
              min-width: 130px;
              text-decoration: none;
              font-size: 14px;
              margin: 20px 0 0 0;
              white-space: nowrap;
            "
          >
            {{ button_text }}
            <!-- Tekst dugmeta iz JSON prevoda -->
          </a>

          <h5
            style="
              text-transform: capitalize;
              font-weight: 300;
              text-align: center;
            "
          >
            {{ footer }}
            <!-- Footer tekst iz JSON prevoda -->
          </h5>
        </div>
        <div
          style="
            text-align: center;
            background: #f3f3f3;
            padding: 14px 0;
            margin-top: 40px;
          "
        >
          <menu style="vertical-align: middle">
            <item style="text-align: left" href="#"
              ><img
                src="https://snus-s3.s3.eu-north-1.amazonaws.com/email_images/facebook.png"
                alt="Facebook"
              />
            </item>
            <item style="text-align: left" href="#"
              ><img
                src="https://snus-s3.s3.eu-north-1.amazonaws.com/email_images/instagram.png"
                alt="Instagram"
              />
            </item>
            <item style="text-align: left" href="#">
              <img
                src="https://snus-s3.s3.eu-north-1.amazonaws.com/email_images/Youtube.png"
                alt="YouTube"
              />
            </item>
          </menu>

          <p style="color: #696969">2024 © SnusWe</p>
          <p style="color: #696969">Love Braculjevica 14, Novi Sad 21000</p>
        </div>
      </div>
    </div>
  </body>
</html>
